In [ ]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("C:\\Users\\Lenovo\\Downloads\\Infosys 6.0\\archive (1)\\customer_support_tickets.csv")

In [4]:
df.head()

,Ticket ID,Customer Name,Customer Email,Customer Age,Customer Gender,Product Purchased,Date of Purchase,Ticket Type,Ticket Subject,Ticket Description,Ticket Status,Resolution,Ticket Priority,Ticket Channel,First Response Time,Time to Resolution,Customer Satisfaction Rating
0,1,Marisa Obrien,carrollallison@example.com,32,Other,GoPro Hero,2021-03-22,Technical issue,Product setup,I'm having an issue with the {product_purchase...,Pending Customer Response,NaN,Critical,Social media,2023-06-01 12:15:36,NaN,NaN
1,2,Jessica Rios,clarkeashley@example.com,42,Female,LG Smart TV,2021-05-22,Technical issue,Peripheral compatibility,I'm having an issue with the {product_purchase...,Pending Customer Response,NaN,Critical,Chat,2023-06-01 16:45:38,NaN,NaN
2,3,Christopher Robbins,gonzalestracy@example.com,48,Other,Dell XPS,2020-07-14,Technical issue,Network problem,I'm facing a problem with my {product_purchase...,Closed,Case maybe show recently my computer follow.,Low,Social media,2023-06-01 11:14:38,2023-06-01 18:05:38,3.0
3,4,Christina Dillon,bradleyolson@example.org,27,Female,Microsoft Office,2020-11-13,Billing inquiry,Account access,I'm having an issue with the {product_purchase...,Closed,Try capital clearly never color toward story.,Low,Social media,2023-06-01 07:29:40,2023-06-01 01:57:40,3.0
4,5,Alexander Carroll,bradleymark@example.com,67,Female,Autodesk AutoCAD,2020-02-04,Billing inquiry,Data loss,I'm having an issue with the {product_purchase...,Closed,West decision evidence bit.,Low,Email,2023-06-01 00:12:42,2023-06-01 19:53:42,1.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8469 entries, 0 to 8468
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Ticket ID                     8469 non-null   int64
 1   Customer Name                 8469 non-null   object
 2   Customer Email                8469 non-null   object
 3   Customer Age                  8469 non-null   int64
 4   Customer Gender               8469 non-null   object
 5   Product Purchased             8469 non-null   object
 6   Date of Purchase              8469 non-null   object
 7   Ticket Type                   8469 non-null   object
 8   Ticket Subject                8469 non-null   object
 9   Ticket Description            8469 non-null   object
 10  Ticket Status                 8469 non-null   object
 11  Resolution                    2769 non-null   object
 12  Ticket Priority               8469 non-null   object
 13  Ticket Channel                8469 non-null   object
 14  First Response Time           5650 non-null   object
 15  Time to Resolution            2769 non-null   object
 16  Customer Satisfaction Rating  2769 non-null   float64
dtypes: float64(1), int64(2), object(14)
memory usage: 1.1+ MB

Data cleaning

In [6]:
df.isnull().sum()

Ticket ID                          0
Customer Name                      0
Customer Email                     0
Customer Age                       0
Customer Gender                    0
Product Purchased                  0
Date of Purchase                   0
Ticket Type                        0
Ticket Subject                     0
Ticket Description                 0
Ticket Status                      0
Resolution                      5700
Ticket Priority                    0
Ticket Channel                     0
First Response Time             2819
Time to Resolution              5700
Customer Satisfaction Rating    5700
dtype: int64

In [7]:
df.shape

(8469, 17)

In [8]:
df.isnull().sum()

Ticket ID                          0
Customer Name                      0
Customer Email                     0
Customer Age                       0
Customer Gender                    0
Product Purchased                  0
Date of Purchase                   0
Ticket Type                        0
Ticket Subject                     0
Ticket Description                 0
Ticket Status                      0
Resolution                      5700
Ticket Priority                    0
Ticket Channel                     0
First Response Time             2819
Time to Resolution              5700
Customer Satisfaction Rating    5700
dtype: int64

In [9]:
df.drop(columns=['Ticket ID', 'Customer Name', 'Customer Email'], inplace=True)    #dropped the irrevlant columns

In [10]:
df.head(2)

,Customer Age,Customer Gender,Product Purchased,Date of Purchase,Ticket Type,Ticket Subject,Ticket Description,Ticket Status,Resolution,Ticket Priority,Ticket Channel,First Response Time,Time to Resolution,Customer Satisfaction Rating
0,32,Other,GoPro Hero,2021-03-22,Technical issue,Product setup,I'm having an issue with the {product_purchase...,Pending Customer Response,NaN,Critical,Social media,2023-06-01 12:15:36,NaN,NaN
1,42,Female,LG Smart TV,2021-05-22,Technical issue,Peripheral compatibility,I'm having an issue with the {product_purchase...,Pending Customer Response,NaN,Critical,Chat,2023-06-01 16:45:38,NaN,NaN

In [11]:
#Convert date column
df['Date of Purchase'] = pd.to_datetime(df['Date of Purchase'])

In [12]:
df['Date of Purchase'].head()

0   2021-03-22
1   2021-05-22
2   2020-07-14
3   2020-11-13
4   2020-02-04
Name: Date of Purchase, dtype: datetime64[ns]

In [13]:
df.duplicated().sum()    #observation :There are no duplicate rows

np.int64(0)

In [14]:
# Keeping only realistic ages (0–100)
df = df[(df['Customer Age'] >= 0) & (df['Customer Age'] <= 100)]

In [15]:
import re

def clean_text(text):
    text = text.lower()
    text = re.sub(r'[^a-z\s]', '', text)   # remove punctuation & numbers
    text = re.sub(r'\s+', ' ', text)       # remove extra spaces
    return text.strip()

df['Ticket Subject'] = df['Ticket Subject'].apply(clean_text)
df['Ticket Description'] = df['Ticket Description'].apply(clean_text)

In [16]:
df.tail()

,Customer Age,Customer Gender,Product Purchased,Date of Purchase,Ticket Type,Ticket Subject,Ticket Description,Ticket Status,Resolution,Ticket Priority,Ticket Channel,First Response Time,Time to Resolution,Customer Satisfaction Rating
8464,22,Female,LG OLED,2021-12-08,Product inquiry,installation support,my productpurchased is making strange noises a...,Open,NaN,Low,Phone,NaN,NaN,NaN
8465,27,Female,Bose SoundLink Speaker,2020-02-22,Technical issue,refund request,im having an issue with the productpurchased p...,Open,NaN,Critical,Email,NaN,NaN,NaN
8466,57,Female,GoPro Action Camera,2021-08-17,Technical issue,account access,im having an issue with the productpurchased p...,Closed,Eight account century nature kitchen.,High,Social media,2023-06-01 09:44:22,2023-06-01 04:31:22,3.0
8467,54,Male,PlayStation,2021-10-16,Product inquiry,payment issue,im having an issue with the productpurchased p...,Closed,We seat culture plan.,Medium,Email,2023-06-01 18:28:24,2023-06-01 05:32:24,3.0
8468,53,Other,Philips Hue Lights,2020-06-01,Billing inquiry,hardware issue,there seems to be a hardware problem with my p...,Open,NaN,High,Phone,NaN,NaN,NaN

In [17]:
categorical_cols = [
    'Ticket Priority',
    'Ticket Status',
    'Customer Gender',
    'Ticket Channel',
    'Ticket Type',
    'Product Purchased'
]

for col in categorical_cols:
    print(f"\n{col}")
    print(df[col].value_counts())

Ticket Priority
Ticket Priority
Medium      2192
Critical    2129
High        2085
Low         2063
Name: count, dtype: int64

Ticket Status
Ticket Status
Pending Customer Response    2881
Open                         2819
Closed                       2769
Name: count, dtype: int64

Customer Gender
Customer Gender
Male      2896
Female    2887
Other     2686
Name: count, dtype: int64

Ticket Channel
Ticket Channel
Email           2143
Phone           2132
Social media    2121
Chat            2073
Name: count, dtype: int64

Ticket Type
Ticket Type
Refund request          1752
Technical issue         1747
Cancellation request    1695
Product inquiry         1641
Billing inquiry         1634
Name: count, dtype: int64

Product Purchased
Product Purchased
Canon EOS                         240
GoPro Hero                        228
Nest Thermostat                   225
Amazon Echo                       221
Philips Hue Lights                221
LG Smart TV                       219
Sony Xperia                       217
Roomba Robot Vacuum               216
Apple AirPods                     213
LG OLED                           213
iPhone                            212
Sony 4K HDR TV                    210
LG Washing Machine                208
Garmin Forerunner                 208
Canon DSLR Camera                 206
Nikon D                           204
Nintendo Switch Pro Controller    203
Google Pixel                      203
Fitbit Charge                     202
Sony PlayStation                  202
Microsoft Office                  200
HP Pavilion                       200
Amazon Kindle                     198
Dyson Vacuum Cleaner              198
Google Nest                       198
Bose SoundLink Speaker            197
Autodesk AutoCAD                  196
Microsoft Xbox Controller         196
Samsung Galaxy                    194
PlayStation                       192
Fitbit Versa Smartwatch           191
Bose QuietComfort                 190
Microsoft Surface                 190
Samsung Soundbar                  188
Asus ROG                          187
Xbox                              187
MacBook Pro                       186
Dell XPS                          185
Lenovo ThinkPad                   183
GoPro Action Camera               183
Adobe Photoshop                   181
Nintendo Switch                   178
Name: count, dtype: int64

In [18]:
df['Resolution'] = df['Resolution'].fillna('Not Available')

Data Transformation

In [ ]:
#categorical values to a consistent format.

df['Date of Purchase'] = pd.to_datetime(df['Date of Purchase'], errors='coerce')

In [20]:
# Rating validation (1–5)
df.loc[
    (df['Customer Satisfaction Rating'] < 1) |
    (df['Customer Satisfaction Rating'] > 5),
    'Customer Satisfaction Rating'
] = pd.NA

In [23]:
df['satisfaction_level'] = pd.cut(
    df['Customer Satisfaction Rating'],
    bins=[0, 2, 3, 4, 5],
    labels=['low', 'average', 'good', 'excellent']
)

Data Enrinchment

In [25]:
#Age Group Enrichment
df['age_group'] = pd.cut(
    df['Customer Age'],
    bins=[0, 18, 30, 45, 60, 100],
    labels=['teen', 'young_adult', 'adult', 'middle_aged', 'senior']
)

In [26]:
#SLA Expectation Enrichment
sla_map = {
    'critical': '4_hours',
    'high': '8_hours',
    'medium': '24_hours',
    'low': '48_hours'
}

df['expected_sla'] = df['Ticket Priority'].map(sla_map)

In [34]:
df

,Customer Age,Customer Gender,Product Purchased,Date of Purchase,Ticket Type,Ticket Subject,Ticket Description,Ticket Status,Resolution,Ticket Priority,Ticket Channel,First Response Time,Time to Resolution,Customer Satisfaction Rating,satisfaction_level,age_group,expected_sla
0,32,Other,GoPro Hero,2021-03-22,Technical issue,product setup,im having an issue with the productpurchased p...,Pending Customer Response,Not Available,Critical,Social media,2023-06-01 12:15:36,NaT,NaN,NaN,adult,NaN
1,42,Female,LG Smart TV,2021-05-22,Technical issue,peripheral compatibility,im having an issue with the productpurchased p...,Pending Customer Response,Not Available,Critical,Chat,2023-06-01 16:45:38,NaT,NaN,NaN,adult,NaN
2,48,Other,Dell XPS,2020-07-14,Technical issue,network problem,im facing a problem with my productpurchased t...,Closed,Case maybe show recently my computer follow.,Low,Social media,2023-06-01 11:14:38,2023-06-01 18:05:38,3.0,average,middle_aged,NaN
3,27,Female,Microsoft Office,2020-11-13,Billing inquiry,account access,im having an issue with the productpurchased p...,Closed,Try capital clearly never color toward story.,Low,Social media,2023-06-01 07:29:40,2023-06-01 01:57:40,3.0,average,young_adult,NaN
4,67,Female,Autodesk AutoCAD,2020-02-04,Billing inquiry,data loss,im having an issue with the productpurchased p...,Closed,West decision evidence bit.,Low,Email,2023-06-01 00:12:42,2023-06-01 19:53:42,1.0,low,senior,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8464,22,Female,LG OLED,2021-12-08,Product inquiry,installation support,my productpurchased is making strange noises a...,Open,Not Available,Low,Phone,NaT,NaT,NaN,NaN,young_adult,NaN
8465,27,Female,Bose SoundLink Speaker,2020-02-22,Technical issue,refund request,im having an issue with the productpurchased p...,Open,Not Available,Critical,Email,NaT,NaT,NaN,NaN,young_adult,NaN
8466,57,Female,GoPro Action Camera,2021-08-17,Technical issue,account access,im having an issue with the productpurchased p...,Closed,Eight account century nature kitchen.,High,Social media,2023-06-01 09:44:22,2023-06-01 04:31:22,3.0,average,middle_aged,NaN
8467,54,Male,PlayStation,2021-10-16,Product inquiry,payment issue,im having an issue with the productpurchased p...,Closed,We seat culture plan.,Medium,Email,2023-06-01 18:28:24,2023-06-01 05:32:24,3.0,average,middle_aged,NaN
8468,53,Other,Philips Hue Lights,2020-06-01,Billing inquiry,hardware issue,there seems to be a hardware problem with my p...,Open,Not Available,High,Phone,NaT,NaT,NaN,NaN,middle_aged,NaN